.footer__feedback {
    order: 2;
    background-color: #8373A1;
    color: #ffffff;
}

.footer__location {
    padding-top: 40px;
}

.footer__feedback-wrapper {
    margin-left: 35px;
}

.footer__feedback div {
    
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.footer__feedback div p {
    margin: 0;
}

.footer__feedback div h3 {
    margin: 0;
    margin-bottom: 3px;
    font-weight: normal;
}

.footer__socials {
    padding-top: 10px;
}

.footer__socials a {
    text-decoration: none;
    margin-right: 25px;
}

.footer__vk-link img {
    transform: translateY(-3px);
}



@media (min-width: @tablet-width) {

    

    .footer__feedback-wrapper {
        display: grid;
        grid-template-columns: 151px 121px;
        grid-template-rows: 41px 41px 41px;
        column-gap: 61px;
        row-gap: 22px;
        padding-top: 75px;
        margin-left: 90px;
    }

    

    .footer__feedback div p {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__title {
        font-size: 14px;
        line-height: 20px;
    }

    .footer__location {
        grid-column: 1/2;
        grid-row: 1/2;
        padding-top: 0;
        
    }

    .footer__schedule {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .footer__contact {
        
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .footer__write {
        

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .footer__socials {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}


@media (min-width: @desktop-width) {
    .footer__feedback {
        background-color: transparent;
        color: #8373A1;
        
    }

    .footer__feedback-wrapper {
        margin-left: 257px;
        padding-top: 171px;
    }
}

