

@media (min-width: @tablet-width) {
    .header-socials a {
        text-decoration: none;
        margin-right: 6px;
    }

    .header__twitter-link {
        margin-right: 7px;
    }

    .header-socials {
        margin-left: 79px;
        
    }


    .header__vk-link svg {
        width: 7px;
        height: 4px;
        transform: translateY(-1px);
    }

    .header__twitter-link svg {
        width: 8px;
        height: 6px;
    }

    .header__fb-link svg {
        width: 3px;
        height: 6px;
    }

    .header__social-button path {
        transition: fill 0.5s ease;
    }

    .header__social-button:hover path {
        fill: #E65C7B
    }
}


@media (min-width: @desktop-width) {
    .header-socials {
        margin-left: 141px;
    }

    .header-socials a {
        margin-right: 12;
    }

    .header__vk-link svg {
        width: 13px;
        height: 8px;
    }

    .header__twitter-link svg {
        width: 16px;
        height: 11px;
    }

    .header__fb-link svg {
        width: 6px;
        height: 11px;
    }
}