

@media (min-width: @tablet-width) {
    .header-location {
        margin-left: 600px;
        margin-top: -15px;
        padding-bottom: 81px;
        font-size: 12px;
        line-height: 15px;
    }
}


@media (min-width: @desktop-width) {
    .header-location {
        margin-left: 1161px;
        font-size: 16px;
        padding-bottom: 130px;
    }
}