.page-header {
    width: 320px;
    margin: 0 auto;
    background-image: url(../../img/background-header-mobile.png);
}

@media (min-width: @tablet-width) {
    .page-header {
        width: 768px;
        background-image: url(../../img/header-bg-tablet.png);
    }
}