.page-footer {
    width: 320px;
    margin: 0 auto;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
}


@media (min-width: @tablet-width) {
    .page-footer {
        width: 768px;
    }
}


@media (min-width: @desktop-width) {
    .page-footer {
        width: 1440px;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: row;
        background-image: url(../../img/footer-bg-desktop.png);
    }
}