

.subscribtions {
    background: url(../../img/subscribtion-bg-mobile.png) no-repeat 0px 70px,
                url(../../img/subscribtion-bg2-mobile.png) no-repeat 13px 600px;
}

.subscribtions__title {
    margin-top: 70px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.subscribtions__options {
    text-align: center;
}

.option {
    border: none;
    background-color: transparent;
    color: #E65C7B;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 0;
    margin-right: 20px;
    cursor: pointer;
}


.option:last-child {
    margin-right: 0;
}

.twelve-months {
    margin-right: 0;
}

.option--active {
    border-bottom: .5px solid #E65C7B;
}

.subscribtions__list {
    list-style: none;
    padding-left: 0;
    margin-left: 35px;
    padding-bottom: 70px;
}


.subscribtions__item {
    width: 250px;
    background-color: #ffffff;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.subscribtion__title {
    font-size: 16px;
    line-height: 20px;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    
}

.subscribtion__description {
    text-align: center;
    color: #E65C7B;
    font-weight: bold;
    padding-right: 55px;
    padding-left: 55px;
    margin-bottom: 0;
}

.subscribtion__cost {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 15px;
}

.subscribtion__link {
    display: inline-block;
    text-decoration: none;
    margin-left: 51px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 23px;
    color: #ffffff;
    background-color: #8E80A9;
    transition: background-color 0.5s ease;
    
    margin-bottom: 25px;

    &:hover {
        background-color: #E65C7B;
    }
}



@media (min-width: @tablet-width) {
    
    .subscribtions {
        background: none;
        background: url(../../img/subscribtions-bg-tablet.png),
                    url(../../img/subscribtion-bg2-tablet.png) no-repeat 436px 220px;
    }
    
    .subscribtions__title {
        font-size: 21px;
    }

    .option {
        margin-right: 30px;
    }

    .subscribtions__list {
        display: flex;
        margin-top: 45px;
        margin-left: 82px;
        height: 221px;
        padding: 0;
        padding-bottom: 129px;
    }

    .subscribtions__item {
        margin-right: 25px;
        width: 176px;
        height: 159px;
        transition: width 0.5s ease, height 0.5s ease, background-color 1s ease;
        cursor: pointer;
        position: relative;
         

        &:hover {
            background-color: #E65C7B;
            
            .subscribtion__description {
                color: #ffffff
            }
        }
    }

    .subscribtion__link {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .subscribtions__item--active {
        width: 221px;
        height: 221px;

        cursor: default;

        &:hover {
            background-color: #ffffff;

            .subscribtion__description {
                color: #E65C7B;
            }
        }

        
    }

    .subscribtions__item--active .subscribtion__link {
        
        padding: 0;
        margin: 0;
        padding-left: 21px;
        padding-right: 21px;
        padding-top: 7px;
        padding-bottom: 8px;
        margin-left: 36px;
        position: relative;
        opacity: 1;
        transition: opacity 1s ease, background-color 0.5s ease;
        z-index: 1;
        
        &:hover {
            background-color: #E65C7B;
        }
    }

    .subscribtion__title {
        margin: 0;
        padding: 0;
        margin-top: 30px;
    }

    .subscribtion__description {
        padding: 0;
        transition: color 1s ease;
    }    

    .subscribtions__item--active .subscribtion__description {
        padding: 0;
        
    }

    
}