@font-face {
    font-family: 'Geometria Regular';
    src: url('../fonts/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

body {
    font-family: 'Geometria Regular';
    
    font-size: 10px;
    line-height: 15px;
    color: #8E80A9;
}